# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
*.spec

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Local configuration / secrets
.env
.vault/
.fortress/

# IDEs and Editors
.vscode/
.idea/
*.swp
